@font-face {
  font-family: "Avenir Next";
  src: url("../fonts/AvenirNext-Regular.woff2") format("woff2"), url("../fonts/AvenirNext-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../fonts/AvenirNext-Bold.woff2") format("woff2"), url("../fonts/AvenirNext-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../fonts/AvenirNext-Medium.woff2") format("woff2"), url("../fonts/AvenirNext-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../fonts/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../fonts/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir Next Demi";
  src: url("../fonts/AvenirNext-DemiBold.woff2") format("woff2"), url("../fonts/AvenirNext-DemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/* Global Styles */
/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

img,
picture {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

html:focus-within {
  scroll-behavior: smooth;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Global Styles */
.container {
  width: min(100% - 4rem, 1340px);
  margin-inline: auto;
}

/* Page Styles */
.page-description {
  font-size: 20px;
  font-family: "Avenir Next", sans-serif;
  font-weight: 500;
  color: #000;
}
.page-description p {
  line-height: 24px;
}
.page-description--w-margin-bottom {
  margin-bottom: 30px;
}

.tour-container {
  display: grid;
  gap: 30px;
}

.page-heading {
  margin-top: 30px;
}

.page-title {
  margin-bottom: 25px;
  font-family: "Avenir Next Demi";
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
}
.page-title--m0 {
  margin: 0;
}

.services-hero {
  padding-block: 40px;
  margin-block: 20px 30px;
  position: relative;
  height: 75vh;
  min-height: 685px;
  display: flex;
  flex-direction: column;
  background-color: #020203;
  isolation: isolate;
}
.services-hero::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 76%;
  height: 100%;
  background-image: url("../images/Stamba WW.png");
  background-position: center;
  background-size: cover;
  z-index: -1;
}
.services-hero .container {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}
.services-hero__description {
  padding-block: 20px 32px;
  display: grid;
  gap: 30px;
  background-color: rgba(0, 0, 0, 0.4);
}
.services-hero__description p {
  margin-inline: auto;
  max-width: 980px;
  font-family: "Avenir Next Demi", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  letter-spacing: -1;
  line-height: 24px;
}
.services-hero__heading {
  margin-top: 15px;
  margin-bottom: 30px;
  font-family: "Avenir Next Demi", Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 600;
  color: #fff;
  letter-spacing: -1;
  text-transform: uppercase;
  text-align: center;
}

.services-list {
  margin: 0;
  margin-top: auto;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 380px);
  justify-content: space-between;
  gap: 30px;
}
.services-list a {
  display: grid;
  place-content: center;
  height: 60px;
  font-family: "Avenir Next Demi", Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #A28951;
  letter-spacing: -1;
  text-transform: uppercase;
  text-decoration: none;
  border: 3px solid #A28951;
  box-shadow: 6px 6px 6px rgb(0, 0, 0);
}

.partners {
  margin-block: 30px 20px;
}
.partners__wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 34px;
}
.partners__wrapper > figure:first-child {
  margin-right: auto;
}

.welcome-to-georgia {
  max-width: 1012px;
  margin-left: auto;
  margin-top: 150px;
  margin-bottom: 200px;
}
.welcome-to-georgia__card-wrap {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}
.welcome-to-georgia__image {
  flex-shrink: 0;
  margin-left: 60px;
}
.welcome-to-georgia__texts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 36px;
}

.tablecloth-trademark {
  display: flex;
  align-items: center;
  gap: 18px;
  font-size: 18px;
  line-height: 22px;
  color: #707070;
}

.bg-black {
  background-color: #000;
}

.text-center {
  text-align: center;
}

.text-red {
  color: #AC0008;
}

.text-blue {
  color: #254E7C;
}

.text-medium {
  font-weight: 500;
}

.text-bold {
  font-weight: 700;
}

.site-header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100000;
}

.site-header-wrapper {
  display: flex;
  align-items: center;
  height: 70px;
}

.site-logo {
  width: 244px;
  height: 46px;
}
.site-logo img {
  width: 100%;
}

.site-navigation {
  margin-left: auto;
}

.site-menu {
  padding: 0;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 16px;
  list-style-type: none;
}

.menu-link {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  transition: color 0.2s ease-in-out;
}
.menu-link:hover, .menu-link:focus {
  color: #FF0000;
}
.menu-link.active {
  color: #FF0000;
  font-weight: 700;
}

.language-switcher {
  margin-left: 30px;
  width: 40px;
  height: 24px;
  overflow: hidden;
}
.language-switcher img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.popular-seasons-chart {
  margin: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular-seasons-chart h3 {
  font-size: 16px;
  font-family: "Avenir Next Demi", sans-serif;
  font-weight: 600;
  color: #1F7431;
  text-transform: uppercase;
}

.months {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 3px;
}

.month {
  width: 24px;
  height: 24px;
  font-size: 8px;
  font-weight: 700;
  color: #fff;
  display: grid;
  place-content: center;
}
.month.populatiry-low {
  background-color: #A8BBA0;
}
.month.populatiry-medium {
  background-color: #6E9267;
}
.month.populatiry-high {
  background-color: #3A7239;
}

.banner {
  margin-block: 30px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  letter-spacing: -1px;
  color: #fff;
}
.banner--sm {
  font-size: 18px;
  font-weight: 400;
}
.banner--lg {
  height: 50px;
  font-family: "Avenir Next Demi", sans-serif;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: initial;
}
.banner--red {
  background-color: #ac0008;
}
.banner--orange {
  background-color: #FC781E;
}
.banner--gold {
  background-color: #9E8959;
}

.cuisine {
  padding: 14px 30px;
  background-color: #BFD5F5;
}
.cuisine__title {
  margin-bottom: 12px;
  font-size: 30px;
  font-weight: 700;
  color: #AC0008;
  text-transform: capitalize;
  letter-spacing: -1px;
}

.dishes {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: 16px;
}

.dish {
  display: flex;
  gap: 22px;
}
.dish__image {
  width: 135px;
  height: 135px;
  overflow: hidden;
  flex-shrink: 0;
}
.dish__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.dish__name {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 700;
  color: #AC0008;
  text-transform: capitalize;
}
.dish__description {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  line-height: 18px;
}

.cuisine-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cuisine-texts {
  margin-left: 25px;
  font-family: "Avenir Next Demi", Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
}
.cuisine-texts__red {
  margin-top: 35px;
  color: #AC0008;
}

.features {
  display: grid;
  row-gap: 25px;
  margin: 25px 0;
  padding: 0;
  list-style: none;
}

.feature {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.feature figure {
  flex-shrink: 0;
}
.feature__left {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 12px 25px;
}
.feature__left figure {
  align-self: center;
}
.feature__left > div:has(h4) {
  margin-right: 20px;
}
.feature__left > div:has(h4) p {
  font-size: 20px;
  font-weight: 500;
}
.feature__right {
  display: flex;
}
.feature__right > div:has(p) {
  padding: 12px 12px 12px 20px;
  font-size: 18px;
}
.feature__right > div:has(p) p + p {
  margin-top: 5px;
}
.feature__title {
  margin-bottom: 24px;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}
.feature .w-shadow {
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
}
.feature .full-height-image {
  width: 120px;
  height: 100%;
}
.feature .full-height-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.feature .image-with-caption {
  padding: 12px 12px 8px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 122px;
}
.feature .image-with-caption figcaption {
  font-size: 12px;
  font-weight: 500;
  text-align: right;
}
.feature .two-images {
  padding: 12px 12px 14px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.feature .two-images img:first-child {
  align-self: flex-end;
}

.bg-red-1 {
  background-color: hsl(357deg, 100%, 34%);
}

.bg-red-2 {
  background-color: hsla(357deg, 100%, 34%, 0.15);
}

.bg-gray-1 {
  background-color: #707070;
}

.bg-gray-2 {
  background-color: hsla(0deg, 0%, 44%, 0.15);
}

.bg-gold-1 {
  background-color: #A28951;
}

.bg-gold-2 {
  background-color: hsla(41deg, 33%, 48%, 0.15);
}

.bg-blue-1 {
  background-color: #254E7C;
}

.bg-blue-2 {
  background-color: hsla(212deg, 54%, 32%, 0.15);
}

.bg-burgundy-1 {
  background-color: #5D3F3F;
}

.bg-burgundy-2 {
  background-color: hsla(0deg, 19%, 31%, 0.15);
}

.bg-green-1 {
  background-color: #5D7C73;
}

.bg-green-2 {
  background-color: hsla(163deg, 14%, 43%, 0.15);
}

.features-title {
  font-size: 60px;
  letter-spacing: -1px;
  margin-top: 10px;
}

/* Tour Slider */
.tour-slider {
  margin-top: 25px;
  width: 100%;
  height: 360px;
}

.tour-slide-prev,
.tour-slide-next {
  padding: 0;
  position: absolute;
  bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: 30px;
  z-index: 100;
  transition: color 0.2s ease-in-out;
}
.tour-slide-prev:hover,
.tour-slide-next:hover {
  color: #FF0000;
}

.tour-slide-prev {
  left: 25px;
}

.tour-slide-next {
  right: 25px;
}

.tour-heading {
  margin-bottom: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tour-tagline {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 500;
  color: #ac0008;
}

.tour-description {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 26px;
  font-family: "Avenir Next LT Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.tour-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.tour-column-left {
  display: flex;
  flex-direction: column;
}

.tour-agenda ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: 13px;
}
.tour-agenda li {
  display: grid;
  grid-template-columns: 58px auto;
  gap: 16px;
  font-size: 18px;
  line-height: 22px;
}
.tour-agenda li:hover, .tour-agenda li:focus {
  cursor: pointer;
}
.tour-agenda li:hover .tour-day,
.tour-agenda li:hover p strong, .tour-agenda li:focus .tour-day,
.tour-agenda li:focus p strong {
  color: #ac0008;
}
.tour-agenda li strong {
  font-weight: 600;
  font-family: "Avenir Next Demi", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.tour-agenda li p {
  font-family: "Avenir Next LT Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.tour-agenda .tour-day {
  font-family: "Avenir Next Demi", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.tour-maps ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.tour-maps li {
  position: relative;
}
.tour-maps li .day-plan {
  position: absolute;
  right: 20px;
  top: 18px;
  font-family: "Avenir Next Demi", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #ac0008;
}
.tour-maps li[data-image].active {
  z-index: 1;
}

.tour-map-container {
  position: relative;
  width: 100%;
  height: 360px;
}
.tour-map-container li {
  position: absolute;
  inset: 0;
}
.tour-map-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.request-tour {
  margin-top: auto;
  margin-bottom: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.request-tour-button {
  padding: 11px 72px;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  background-color: #218838;
  border: none;
  border-radius: 5px;
}

.download-tour-info-button {
  margin-inline: auto;
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  max-width: 18ch;
}
.download-tour-info-button span {
  font-family: "Avenir Next Demi", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #5A6268;
}

.switch-tour {
  display: flex;
  align-items: center;
  gap: 13px;
}
.switch-tour > * {
  height: 55px;
  border-radius: 5px;
  border: 4px solid #5A6268;
  color: #5A6268;
  font-size: 24px;
  display: grid;
  place-items: center;
}
.switch-tour p {
  width: 244px;
  font-weight: 700;
}

.switch-tour-prev,
.switch-tour-next {
  width: 55px;
  text-decoration: none;
}

.tour-tech-characteristics {
  margin-bottom: 20px;
}
.tour-tech-characteristics h3 {
  margin-bottom: 3px;
  padding: 6px 0;
  font-family: "Avenir Next Demi", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  background-color: #ED7D31;
}

.chars-container table {
  width: 100%;
  border-collapse: collapse;
}
.chars-container table tr {
  background-color: #FFD7BC;
}
.chars-container table tr:nth-child(2n) {
  background: #FFF1E8;
}
.chars-container table td {
  position: relative;
  padding: 0;
}
.chars-container table td > *:first-child {
  border-right: 3px solid #fff;
}
.chars-container table td div {
  padding: 6px 8px 6px 24px;
  font-family: "Avenir Next Demi", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.adapted {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tour-a11y {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3px;
  padding: 0 !important;
  height: 100%;
}
.tour-a11y span {
  height: 100%;
  display: grid;
  place-content: center;
  color: #fff;
  text-transform: capitalize;
}
.tour-a11y span.selected {
  color: #000000;
}
.tour-a11y span:not(:last-child) {
  border-right: 3px solid #fff;
}

.tour-additional-info {
  padding-block: 2px;
  font-size: 10px;
  font-style: italic;
  text-align: center;
  background-color: #FFD7BC;
  display: grid;
  place-content: center;
}
.tour-additional-info p {
  max-width: 62ch;
}

.tour-builder {
  display: flex;
  align-items: center;
  gap: 13px;
}
.tour-builder p {
  font-size: 12px;
  font-style: italic;
}

.tour-heading-something {
  width: 274px;
  height: 43px;
  display: grid;
  place-items: center;
  font-family: "Avenir Next Demi", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  border: 3px solid #000;
}

.scroll-component {
  position: relative;
  width: 100%;
}
.scroll-component .image-banner {
  display: flex;
}
.scroll-component .image-banner .col {
  width: 50%;
}
.scroll-component .left-image,
.scroll-component .right-image {
  height: 440px;
  width: 100%;
  background-repeat: no-repeat;
}
.scroll-component .left-image {
  background-image: url("../images/Tbilisi Pano LEFT.png");
  background-position: top right;
}
.scroll-component .right-image {
  background-image: url("../images/Tbilisi Pano RIGHT.png");
  background-position: top left;
}
.scroll-component .right-image {
  z-index: 111;
}
.scroll-component .right-image img {
  background: linear-gradient(to bottom, #fff 90%, hsla(0deg, 0%, 100%, 0.6), hsla(0deg, 0%, 100%, 0.3));
}
.scroll-component .right-texts {
  margin-right: calc((100% - 388px) / 2);
}
.scroll-component .right-texts p {
  margin-top: 32px;
  font-family: "Avenir Next Demi", Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  color: #AC0008;
}
.scroll-component .right-texts p + p {
  margin-top: 8px;
}
.scroll-component .left-texts {
  margin-left: calc((100% - 388px) / 2);
  margin-right: 30px;
}
.scroll-component .left-texts__spacer {
  margin-top: 32px;
  margin-bottom: 12px;
}
.scroll-component .left-texts__spacer p + p {
  margin-top: 8px;
}
.scroll-component .left-texts p {
  font-size: 20px;
  font-weight: 500;
  color: #000;
}

.card {
  --animation-timing: 0.25s;
  position: relative;
}
.card:hover .card-hovered {
  opacity: 1;
  pointer-events: initial;
}
.card:hover .card-preview {
  opacity: 0;
}
.card img {
  width: 100%;
  height: 100%;
  object-position: center;
}
.card a {
  color: #000;
  text-decoration: none;
}

.card-preview {
  transition: all var(--animation-timing) ease-in-out;
}
.card-preview-image {
  width: 100%;
  height: 150px;
}
.card-preview-caption {
  margin-top: 7px;
  font-size: 14px;
}

.card-hovered {
  transition: all var(--animation-timing) ease-in-out;
  width: 116%;
  top: 0;
  left: 0;
  transform: translate(-8%, -5%);
  right: 0;
  opacity: 0;
  position: absolute;
  z-index: 1000;
  box-shadow: 8px 8px 14px rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.card-body {
  padding: 6px 8px;
  background-color: #fff;
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
  height: 160px;
  overflow: hidden;
}
.card-body p {
  text-wrap: balance;
}

.card-title {
  font-size: 14px;
  font-weight: 700;
  color: #AC0008;
  margin-bottom: 5px;
}

.tour-card:not(:last-child) {
  padding-bottom: 30px;
  border-bottom: 5px solid #A28951;
}
.tour-card--services:first-child {
  padding-top: 30px;
  border-top: 5px solid #A28951;
}
.tour-card--services:last-child {
  padding-bottom: 30px;
  border-bottom: 5px solid #A28951;
}
.tour-card--services .tour-card-action {
  margin-top: auto;
}
.tour-card.active .tour-card-action__btn i {
  transform: rotate(180deg);
}
.tour-card.active .tour-card-action__text {
  opacity: 0;
  pointer-events: none;
}
.tour-card__displayed {
  display: grid;
  grid-template-columns: 518px 1fr;
  gap: 30px;
}
.tour-card__image {
  position: relative;
}
.tour-card__image--w-shadow {
  box-shadow: 8px 8px 14px rgba(0, 0, 0, 0.5);
}
.tour-card__image--hoverable {
  transition: all 0.2s ease-in-out;
}
.tour-card__image--hoverable:hover {
  box-shadow: 8px 8px 14px rgba(0, 0, 0, 0.5);
}
.tour-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tour-card__title {
  position: absolute;
  inset: 5px 15px;
  font-family: "Avenir Next Demi", Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}
.tour-card__title--bottom {
  display: flex;
  align-items: flex-end;
}
.tour-card__title--black {
  color: #000;
}
.tour-card__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -1px;
  color: #000;
}
.tour-card__description p + p {
  margin-top: 5px;
}
.tour-card__description--fz-sm {
  font-size: 16px;
  line-height: 20px;
}
.tour-card__description--fz-sm p + p {
  margin-top: 10px;
}
.tour-card__description--services {
  font-weight: 400;
}
.tour-card__description--services h2 {
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
.tour-card__details {
  height: 0;
  transition: height 0.3s ease-in-out;
  overflow: hidden;
}
.tour-card__headings, .tour-card__chart {
  display: grid;
  grid-template-columns: 518px 67px 146px 517px;
  gap: 30px;
}
.tour-card__headings {
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
}
.tour-card__headings > *:last-child {
  color: #1F7431;
  transform: translateX(-30px);
}
.tour-card__charts {
  display: grid;
  gap: 15px;
}
.tour-card__chart .popular-seasons-chart {
  margin: 0;
}
.tour-card__chart .months {
  gap: 10px;
}
.tour-card__chart .month {
  width: 34px;
  height: 34px;
  font-size: 10px;
}
.tour-card__details-title {
  padding: 4px 14px;
  font-size: 20px;
  font-weight: 700;
  background-color: #E0E4EB;
  border-radius: 4px;
}
.tour-card__duration {
  background-color: #E0E4EB;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  display: grid;
  place-content: center;
}
.tour-card__details-tagline {
  margin-top: 4px;
  padding-left: 14px;
  font-size: 16px;
  font-weight: 500;
  color: #B14F52;
}
.tour-card__countries {
  display: flex;
  gap: 13px;
}
.tour-card__countries > * {
  width: 40px;
  height: 34px;
  border: 2px solid #707070;
  border-radius: 2px;
  display: grid;
  place-content: center;
  font-size: 16px;
  font-weight: 700;
}
.tour-card__check-dates {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 700;
  color: #fff;
  background-color: #ED7D31;
}
.tour-card__additional-info-text {
  margin-top: 26px;
  font-family: "Avenir Next Demi", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 30px;
}
.tour-card__footer {
  display: flex;
  align-items: center;
  gap: 10px;
}
.tour-card__footer p {
  font-family: "Avenir Next Demi", Arial, Helvetica, sans-serif;
  font-size: 22px;
  letter-spacing: -1px;
  font-weight: 600;
  color: #AC0008;
}
.tour-card__footer .tour-card-contact {
  margin-top: 0;
}
.tour-card__description-with-images {
  display: flex;
  gap: 10px;
}
.tour-card__description-with-images > div:last-child {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.tour-card__description-with-images > div:last-child figure img {
  margin-left: auto;
}
.tour-card__services-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tour-card__services-action p {
  font-size: 20px;
  font-weight: 400;
}
.tour-card__services-action strong {
  font-family: "Avenir Next Demi", Arial, Helvetica, sans-serif;
  font-size: 20px;
  letter-spacing: -1px;
  font-weight: 600;
}

.tour-card-action {
  margin-left: auto;
  padding: 0;
  display: flex;
  align-items: flex-end;
  gap: 10px;
  background: transparent;
  border: none;
}
.tour-card-action > * {
  pointer-events: none;
}
.tour-card-action__text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -1px;
  color: #AC0008;
  transition: opacity 0.3s ease-in-out;
}
.tour-card-action__btn {
  width: 36px;
  height: 36px;
  display: grid;
  place-content: center;
  border-radius: 5px;
  background-color: #AC0008;
  color: #fff;
}
.tour-card-action__btn i {
  transition: transform 0.3s ease-in-out;
}

.tour-card-contact {
  margin-left: auto;
  width: 244px;
  height: 49px;
  display: grid;
  place-content: center;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #A28951;
  border: none;
  border-radius: 6px;
}

.image-grid {
  margin-block: 30px 24px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}
.image-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-grid .span-2 {
  grid-column: span 2;
}
.image-grid .span-5 {
  grid-column: span 5;
}

.articles-grid {
  margin-block: 30px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 30px;
  row-gap: 12px;
}

.projects-article__image {
  margin-bottom: 12px;
  width: 100%;
  height: 150px;
}
.projects-article__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.projects-article__body {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  line-height: 19px;
}
.projects-article__title {
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 700;
  color: #AC0008;
  text-transform: capitalize;
}

.experiences-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(244px, 1fr));
  column-gap: 30px;
  row-gap: 40px;
}

/*# sourceMappingURL=styles.css.map */
