// Backgrounds
.bg-black {
    background-color: #000;
}

.text-center {
    text-align: center;
}

.text-red {
    color: #AC0008;
}

.text-blue {
    color: #254E7C;
}

.text-medium {
    font-weight: 500;
}

.text-bold {
    font-weight: 700;
}